:root, body.light-theme {
    --primary-text          : #FFFFFF;
    --text-dark             : #2A2A2A;
    --text-medium           : #6A6A6A;
    --text-light            : #9699A9;
    --text-white            : #FFFFFF;
    --textColorAntD: #171a1f;

    --border-dark           : #A4A4A4;
    --border-light          : #D4D4D4;
    --border-tab            : #e9e9e9;

    --bg-light              : #FFFFFF;
    --bg-ash                : #EAEAEA;
    --bg-hover              : #DADADA;
    --bg-dim                : #F5F5F5;
    --bg-header             : #FFFFFF;
    --bg-mobile             : rgba(255, 255, 255, 0.97);
    --bg-spinner            : rgba(0, 0, 0, 0.4);

    --gray-gradient         : linear-gradient(302deg, #666 0%, #8B8B8B 100%);

    --primary-shadow       : 0px 5px 16px 0px rgba(65, 83, 158, 0.35);
    --header-shadow         : 0px 5px 6px -2px rgba(0, 0, 0, 0.10);
    --sidebar-shadow        : 0px 0px 15px 5px rgba(83, 138, 188, 0.20);
    --btn-shadow            : 0px 1px 3px 0px rgba(122, 122, 122, 0.10), 0px 5px 5px 0px rgba(122, 122, 122, 0.09);
    --tooltip-shadow        : 0px 5px 10px 0px rgba(0, 0, 0, 0.10), 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 42px 25px 0px rgba(0, 0, 0, 0.05);
    --popup-shadow          : 0px 15px 33px 0px rgba(0, 0, 0, 0.10), 0px 60px 60px 0px rgba(0, 0, 0, 0.09), 0px 134px 80px 0px rgba(0, 0, 0, 0.05);
    --table-shadow          : rgba(99, 99, 99, 0.2) 0px 0px 12px 1px;
    --dropdown-shadow       : 0px 0px 15px 0px rgba(83, 138, 188, 0.20);
    --input-shadow          : 0 0 0 2px rgba(62, 140, 210, 0.1);

    --font-base             : 'Inter', sans-serif;
    --font-title            : 'Rubik', sans-serif;

    --transition-sm         : all .3s ease-in-out;
    --transition-md         : all .5s ease-in-out;
    --transition-lg         : all .7s ease-in-out;
}

[data-theme='dark'], body.dark-theme {
    --text-dark             : #ffffff;
    --textColorAntD: #ffffff;
    --text-medium           : #d3d3d3;
    --text-light            : #9699A9;
    --text-white            : #FFFFFF;

    --border-dark           : #838689;
    --border-light          : #3e3e3e;;
    --border-tab            : #3e3e3e;

    --bg-light              : #424242;
    --bg-ash                : #282828;
    --bg-hover              : #1c1c1c;
    --bg-dim                : #292929;
    --bg-header             : #171717;
    --bg-mobile             : rgba(0, 0, 0, 0.97);
    --bg-spinner            : rgba(255, 255, 255, 0.2);

    --gray-gradient         : linear-gradient(302deg, #666 0%, #8B8B8B 100%);

    --primary-shadow       : 0px 5px 16px 0px rgba(33, 42, 78, 0.35);
    --header-shadow         : 0px 5px 6px -2px rgba(0, 0, 0, 0.10);
    --sidebar-shadow        : 0px 0px 15px 5px rgba(17, 28, 39, 0.2);
    --btn-shadow            : 0px 0 3px 0px rgb(11 11 11 / 28%), 0px 2px 5px 0px rgb(0 0 0 / 21%);
    --tooltip-shadow        : 0px 5px 10px 0px rgba(0, 0, 0, 0.10), 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 42px 25px 0px rgba(0, 0, 0, 0.05);
    --popup-shadow          : 0px 15px 33px 0px rgba(0, 0, 0, 0.10), 0px 60px 60px 0px rgba(0, 0, 0, 0.09), 0px 134px 80px 0px rgba(0, 0, 0, 0.05);
    --table-shadow          : rgba(49, 49, 49, 0.2) 0px 0px 12px 1px;
    --dropdown-shadow       : 0px 0px 15px 0px rgba(34, 56, 77, 0.2);
    --input-shadow          : 0 0 0 2px rgba(23, 53, 79, 0.1);
}